<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al Sistema</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- esta es el html para registarse en la pagina -->
</head>
<body>
     <br><br>
    {% load crispy_forms_tags %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2>Ingresa tus credenciales</h2>
                        <hr>
                        <form action="" method="post">

                            {% csrf_token %}
                            {{ form | crispy }}
                            
                            <hr>
                            <a href="{% url 'home' %}">ir al home</a>
                            <input type="submit" value="ingresar" class="btn btn-success float-end">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>